* {
    font-family: 'Poppins', sans-serif;
}

 :root {
    --merah: #B63D45;
    --kuning: #F4C58F;
    --biru: #072438;
    --putih: #ffffff;
}

body {
    background-image: linear-gradient(135deg, #B63D45, #631e22);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background-color: var(--biru);
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

.profile_image {
    width: 70px;
    height: 90px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--biru);
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    z-index: 1;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px 20px 10px 20px;
    background: var(--biru);
    font-size: 25px;
    display: flex;
}

#sidebar .sidebar-header span {
    color: var(--kuning);
    font-weight: bold;
}

#sidebar a {
    padding: 20px 15px 20px 25px;
    margin-left: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar a:hover {
    color: var(--merah);
    font-weight: bold;
    background: var(--kuning);
    border-radius: 25px 0px 0px 25px;
    transition: 0.5s;
}

#sidebar a span {
    padding-left: 10px;
}

#sidebar a.active {
    color: var(--merah);
    background: var(--putih);
    border-radius: 25px 0px 0px 25px;
}

#sidebar a.active:hover {
    background: var(--kuning);
}

a[data-toggle="collapse"] {
    position: relative;
}

#dismiss {
    width: 35px;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: var(--putih);
    top: 10px;
    right: 10px;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: none;
}

#dismiss:hover {
    color: var(--kuning);
}

#overlay.active {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-in-out;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content .navbar .navbar-right a {
    padding: 0px 10px;
    font-size: 25px;
    color: var(--putih);
}

#content .navbar .navbar-right a:hover {
    color: var(--kuning);
    transition: 0.5s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background-color: var(--biighru);
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: var(--putih);
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse:hover {
    background: var(--kuning);
    transition: 0.3s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

.menu-content {
    padding-left: 10px;
}

.jumlah{
    background-color: var(--biru);
    width:240ppx;
    border-radius: 10px;
    display:grid;
}

.bi bi-building {
    color:var(--merah);
}

.row{
    padding: 15px 10px;
}

.rate{
    align-content: space-between;
    border-spacing: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.respon{
    background-color:var(--biru);
    border-radius: 10px;
    margin-right: 0px;
    border-spacing: 15px;
    border-spacing: 10px;
    width: 100%;
}

.respon .responRate{
    padding-left: 5px;
    border-spacing: 15px;
    border-spacing: 10px;
    width:500px;
    padding-right: 30px;
}

.btn-sm, .dropdown-item{
    background-color: var(--merah);
    color: var(--kuning);
}

.dropdown-menu{
    background-color: var(--kuning);
}


.dropdown-item{
    background-color: var(--kuning);
    color: var(--merah)
}

.dropdown-item:hover{
    color: var(--biru);
}


.jumlah{
    background-color: var(--biru);
    margin-right: 10px;
    border-spacing: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.bangunan{
    color: var(--merah);
    margin: auto;
}

.ket{
    color: var(--kuning);
}


.box{
    background-color:var(--merah);
    border-radius: 10px;
    display: grid;
}

.box .section{
    height: 2em;
    margin: 10px; 
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.box .section .wilayah{
    font-size: 1.2em;
    padding-top: 0.2em;
    padding-left: 0.5em;
    margin-right: -10em;
    color: var(--kuning);
    width: 190px;
    border-spacing: 10px;
}
.box .section .progressBar{
    width: 300px;
    height: 1.2em;
    background-color: var(--biru);
	border-radius: 20px;
    margin-top: 0.4em;
}

.box .section .progressBar .progressBarFill{
    /* display: block; */
	height: 1.2em;
    background-color: orange;
	border-radius: 20px;
    width: 90%;
}

.visualisasi{
    height: 300px;
    display:grid;
    grid-template-columns: 8fr 7fr;
    align-items: center;
    gap:10px;
}

.container {
    margin-right: 10px;
    margin: auto;
    background-color: var(--biru);
    border-radius: 10px;
    height: 300px;
}

.up {
    background-color: var(--biru); 
    border-spacing: 15px;
    margin-right: -15px;
    width: 500px;
    border-radius: 10px;
}

.card{
    background-color: var(--biru);
    border: none;
}

.tahun{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.tahun .btn-group.btn{
    height: 10px;
}

.card-img-top{
    background-color: white;
    border-radius: 10px;
}

.publikasi{
    background-color: var(--biru);
    border-radius: 10px;
    border-spacing: 10px;
    height: 300px;
}


.list-group-item:hover{
    background-color: var(--merah);
    color: var(--kuning);

}


.list-group-item-action{
    background-color: var(--biru);
}

.list-group-item{
    background-color: var(--biru);
    border: none;
    width: 50%;
    padding-left: 10px;
}

.grup{
    align-content: center;
}

.form{
    background-color: var(--biru);
    margin: auto;
}

.building{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.prof{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.satker{
    width: 25%;
    margin:auto;
}

.form .profil{
    width:100%;
    margin-left: 30px;
}

.row .form-control{
    margin-right: 10%;
    margin: auto;
    width: 70%;
}

.row .ketprof{
    width: 200px;
}

.lokasi{
    background-color: var(--biru);
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
}


.putih{
    background-color: white;
}

.kuning{
    background-color: var(--kuning);
}

.tul{
    color: var(--merah);
}

.indeks{
    background-color: var(--biru);
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

table{
    width: 100%;
    margin-left: 15px;
}

table td{
    padding-left: 10px;
}

.rekomendasi{
    background-color: var(--biru);
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.area{
    width: 70%;
    margin-left: 15px;
}

.rekomHasil{
    margin-right: -20px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #dismiss {
        display: block;
    }
    #overlay.active {
        display: block;
    }
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    .navbar-right {
        flex-direction: unset;
    }

    .jumlah{
        display: none;
    }

    .box{
        grid-template-columns: 1fr;
    }

    .respon{
        margin: auto;
        width: 90%;
    }

    .responRate{
        margin-bottom: 5px;
        margin-right: 0px;
    }

    .card-text{
        justify-content: center;
    }

    .list-group-item{
        width:100%;
        align-content: center;
    }

    .list{
        width:100%;
        align-content: center;
        font-size: 13px;
        margin-right: 20px;
        margin-left: -5px;
    }


    .row .ketprof{
        width: 50%;
    }

    .building, .lokasi, .indeks, .rekomendasi{
        grid-template-columns: 1fr 2fr;
    }

    .prof{
        grid-template-columns: 1fr 3fr;
        margin-right:-20px;
        margin-left: -50px;
    }

    .satker{
        margin-right: 40px;
        margin-left: -5px;
    }

    .hasil{
        margin-left:30px;
    }
}